@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #035f1d;
  --secondary: #e0eac9;
  --background: #f8f5ef;
  --light: #ffffff;

  --nav-link-padding: 18px;
}

@layer base {
  @import './base';
}

@layer components {
  @import './components';
}

@layer utilities {
  @import './utilities';
}
